a  {
    text-decoration: none;
}

.items__nav{
background: linear-gradient(to right, #f7b733, #fc4a1a); 
height: 100px;
display: flex;
justify-content: space-between;
align-items: center;
font-size: 1.2rem;


}
.logo__nav{
color: #fff;
justify-self: left;
cursor: pointer;
margin-left:20px ;
font-family: 'PT Sans Narrow', sans-serif;
margin-left: 100px;
}

.list__nav {
    width: 25%;
}

.links__nav{
display: flex;
align-items: center;
grid-gap: 10px;
list-style: none;
text-align: center;
font-family: 'Nunito Sans', sans-serif;
}
   

